body {
   font-family: "Montserrat", sans-serif;
   background: white;
}

.container {
   display: block;
   max-width: 680px;
   width: 80%;
   margin: 120px auto;

}
#myForm{
   border-radius: 15%;
   height: 350px;
   border-color: antiquewhite;
}
h1 {
   color: #e91e63;
   font-size: 48px;
   letter-spacing: -3px;
   text-align: center;
   margin: 120px 0 80px 0;
   transition: 0.2s linear;
}

form {
   width: 100%;
   max-width: 680px;
   margin: 40px auto 10px;
   border: 2px solid;
   .input__block {
      margin: 10px auto;
      display: flex;
      position: relative;
      justify-content: space-evenly;
   }
   .error-block{
      display: flex;
      justify-content: space-around;
   }
}

.first__btn {
   background: #f70b02;
   color: white;
   display: block;
   width: 92.5%;
   max-width: 680px;
   height: 50px;
   border-radius: 8px;
   margin: 0 auto;
   border: none;
   cursor: pointer;
   font-size: 14px;
   font-family: "Montserrat", sans-serif;
   box-shadow: 0 15px 30px rgba(#e91e63, 0.36);
   transition: 0.2s linear;
   &:hover {
      box-shadow: 0 0 0 rgba(#e91e63, 0);
   }
}

footer {
   p {
      text-align: center;
      .fa {
         color: #e91e63;
      }
      a {
         text-decoration: none;
         font-size: 17px;
         margin: 0 5px;
         .fa-facebook {
            color: #3b5998;
         }
         .fa-twitter {
            color: #1da1f2;
         }
         .fa-instagram {
            color: #f77737;
         }
         .fa-linkedin {
            color: #0077b5;
         }
         .fa-behance {
            color: #1769ff;
         }
      }
   }
}
